body {
  font-family: cursive;
}
header {
  height: 52px;
}
.product_list_btn a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}
.product_list_btn {
  border: solid 1px transparent;
  cursor: pointer;
  float: right;
  line-height: 50px;
  position: relative;
  text-align: center;
  width: 80px;
}
.product_list_btn:hover {
  color: #6e6e6e;
}
.product_list_btn.active {
  background: #40c781;
  border: solid 1px #144700;
  border-radius: 3px;
  color: #fff;
}
.content {
  max-width: 960px;
  margin: auto;
}
.container_for_products {
  text-align: center
}
.count_shop_cart {
  background: #40c781;
  border-radius: 50%;
  border: 1px solid #144700;
  bottom: -6px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  right: -6px;
  width: 20px;
}
