body {
  font-family: cursive
}

header {
  height: 52px;
}

.product_list_btn {
  float: right;
  height: 50px;
  width: 80px;
  line-height: 50px;
  text-align: center;
  border: solid 1px transparent;
  cursor: pointer;
}

.shopping_cart:hover,
.main_list:hover,
.wish_list:hover {
  border: solid 1px gray;
  border-radius: 3px;
  color: gray;
}

.active {
  float: right;
  height: 50px;
  width: 80px;
  line-height: 50px;
  text-align: center;
  border: solid 1px red;
  border-radius: 3px;
  color: red;
}

.content,
header,
.sorting {
  max-width: 960px;
  margin: auto;
}

.content {
  text-align: center;
}

.container_for_products {
  margin-top: 5px;
}

