body {
  font-family: cursive
}

header {
  height: 52px;
}

.shopping_cart,
.wish_list {
  float: right;
  height: 50px;
  width: 80px;
  line-height: 50px;
  text-align: center;
  border: solid 1px transparent;
  cursor: pointer;
}

.shopping_cart {
  margin-right: 30px;
}

.shopping_cart:hover,
.wish_list:hover {
  border: solid 1px gray;
  border-radius: 3px;
}

.content,
header,
.sorting {
  max-width: 960px;
  margin: auto;
}

.content {
  padding-top: 10px;
  text-align: center;
}



