body {
  font-family: cursive
}
header {
  height: 52px;
}
.product_list_btn {
  border: solid 1px transparent;
  cursor: pointer;
  float: right;
  line-height: 50px;
  position: relative;
  text-align: center;
  width: 80px;
}
.product_list_btn:hover {
  color: #6e6e6e;
}
.product_list_btn.active {/*!!delete duplication with product_list_btn*/
  border: solid 1px;
  border-radius: 3px;
  color: #f00;
}
.content {/*set only for .content*/
  max-width: 960px;
  margin: auto;
}
.container_for_products {
  min-height: 410px;/*!!bad implementation*/
  text-align: center
}
.count_shop_cart {
  background: #40c781;
  border-radius: 50%;
  bottom: -6px;/*use bottom*/
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  right: -6px;
  width: 20px;
}
