.pager_container {
  margin-top: 20px;
  text-align: center;
}
.pager_tab {
  border-radius: 3px;
  border: 1px solid #144700;
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
  text-align: center;
  transition: 0.3s;
  width: 50px;
}
.pager_tab.active {
  background: #21935a;
  cursor: default;
  color: #fff;
}
.pager_tab:hover {
  background: #21935a;
}
