.product {
  display: inline-block;
  width: 231px;
  margin: 15px 0 0 0;
}
.product_name {
  height: 46px;
  padding-top: 5px;
  overflow: hidden;
}
.product_price {
  padding-top: 5px;
}
.product_cart_btn {
  background: #40c781;
  border: none;
  border-radius: 2px;
  box-shadow: 0 -3px #35a86e inset;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  padding: 7px 0px 10px 0px;
  transition: 0.2s;
  width: 120px;
}
.product_cart_btn:hover {
  background: #35a76e;
}
.product_cart_btn.active {
  background: #21935a;
  box-shadow: 0 3px #21935a inset;
}
.product_favorite_btn {
  background-image: url(../images/icons/icon.png);
  background-position: -257px -93px;
  cursor: pointer;
  height: 26px;
  margin: auto;
  margin-top: 10px;
  width: 26px;
}
.product_favorite_btn.active {
  background-position: -303px -93px;
}
.empty {
  margin-top: 150px;
  color: #6e6e6e;
  font-size: 50px;
  text-align: center
}
