.sorting_sort,
.sorting_limit {
  float: right;
}
.sorting_sort {
  margin-right: 5px;
}
.sorting_limit {
  margin-right: 30px;
}
.sorting_limit_label,
.sorting_sort_label {
  display: block;
  color: #6e6e6e;
  font-size: 12px;
  text-align: left;
}
.sorting_limit_select {
  width: 100%;
}
.sorting {
  height: 43px;
}