@charset "UTF-8";
/*fonts preloading*/
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/*fonts tuning*/
/* line 24, ../sass/_technology.scss */
.p-like {
  font: 1em GothamProLight, sans-serif;
}

/* line 28, ../sass/_technology.scss */
.h1-like {
  font: 1em GothamProBold, sans-serif;
}

/* line 32, ../sass/_technology.scss */
.h2-like {
  font: 1em GothamProBold, sans-serif;
}

/* line 36, ../sass/_technology.scss */
.h3-like {
  font: 1.9285em GothamProBold, sans-serif;
}

/* line 40, ../sass/_technology.scss */
.h4-like {
  font: bold 1.2857em GothamProLight, sans-serif;
}

/* line 45, ../sass/_technology.scss */
.graycolor {
  color: #7f868d;
}

/*╨╝╨░╤А╨┤╨╢╨╕╨╜╤Л ╨┤╨╗╤П ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨░ ╤Б╨╡╨║╤Ж╨╕╨╕*/
/* line 51, ../sass/_technology.scss */
.buffer-top-bottom {
  margin: 32px 0;
}

/*╨┐╨░╨┤╨┤╨╕╨╜╨│╨╕ ╨┤╨╗╤П ╨║╨╛╨╗╨╛╨╜╨╛╨║ */
/* line 56, ../sass/_technology.scss */
.padd-top-bottom {
  padding: 8px 0;
}

/*╤Ж╨╡╨╜╤В╤А╨╛╨▓╨║╨░ ╨║╨░╤А╤В╨╕╨╜╨║╨╕ ╨┐╨╛╨┤ ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨╛╨╝ ╤Б╨╡╨║╤Ж╨╕╨╕*/
/* line 61, ../sass/_technology.scss */
.img-centered {
  margin: 0 auto;
}

/* line 64, ../sass/_technology.scss */
.container.technology {
  padding-bottom: 60px;
}

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* line 13, ../sass/_style-sytnik.scss */
header {
  font-family: GothamProBold;
  height: 111px;
  width: 100%;
  background-color: #fff;
}
/* line 19, ../sass/_style-sytnik.scss */
header .wrapper {
  margin: auto;
  width: 85%;
  height: inherit;
}
/* line 24, ../sass/_style-sytnik.scss */
header .wrapper div#menuBtn {
  display: none;
  margin-top: 27px;
  float: right;
  top: 0;
  right: 0;
  padding: 9px 8px 8px 8px;
  z-index: 25;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
/* line 37, ../sass/_style-sytnik.scss */
header .wrapper div.logo {
  margin-top: 12px;
  display: inline-block;
}
/* line 40, ../sass/_style-sytnik.scss */
header .wrapper div.logo div.logo-background {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  font-size: 36px;
  background-color: #df1f29;
}
/* line 49, ../sass/_style-sytnik.scss */
header .wrapper div.logo div.logo-background span.logo-text {
  margin-left: 11px;
  color: #fff;
}
/* line 54, ../sass/_style-sytnik.scss */
header .wrapper div.logo h1 {
  display: inline-block;
}
/* line 58, ../sass/_style-sytnik.scss */
header .wrapper .menu {
  float: right;
}
/* line 60, ../sass/_style-sytnik.scss */
header .wrapper .menu ul {
  float: right;
  list-style: none;
  margin-bottom: 0px;
}
/* line 65, ../sass/_style-sytnik.scss */
header .wrapper .menu ul .margin {
  margin-right: 45px;
}
/* line 68, ../sass/_style-sytnik.scss */
header .wrapper .menu ul li {
  display: inline-block;
}
/* line 71, ../sass/_style-sytnik.scss */
header .wrapper .menu ul li a {
  display: inline-block;
  line-height: 107px;
  height: 111px;
  color: #515151;
  font-size: 15px;
}
/* line 78, ../sass/_style-sytnik.scss */
header .wrapper .menu ul li a:hover {
  border-bottom: solid 3px #f47108;
  color: #df1f29;
  text-decoration: none;
}

@media (max-width: 836px) {
  /* line 91, ../sass/_style-sytnik.scss */
  header {
    height: 80px;
  }
  /* line 93, ../sass/_style-sytnik.scss */
  header .wrapper {
    position: relative;
  }
  /* line 95, ../sass/_style-sytnik.scss */
  header .wrapper div.logo {
    margin-top: 0;
  }
  /* line 98, ../sass/_style-sytnik.scss */
  header .wrapper #myMenu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  /* line 107, ../sass/_style-sytnik.scss */
  header .wrapper #myMenu ul {
    width: 100%;
    padding: 0;
  }
  /* line 111, ../sass/_style-sytnik.scss */
  header .wrapper #myMenu ul .margin {
    margin: 0;
  }
  /* line 114, ../sass/_style-sytnik.scss */
  header .wrapper #myMenu ul li {
    height: 60px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #df1f29;
  }
  /* line 121, ../sass/_style-sytnik.scss */
  header .wrapper #myMenu ul li a {
    padding-top: 20px;
    width: 100%;
    height: inherit;
    line-height: normal;
  }
  /* line 130, ../sass/_style-sytnik.scss */
  header .wrapper div#menuBtn {
    display: block;
    position: absolute;
    float: right;
    top: 0;
    right: 10px;
    margin-top: 13px;
  }
}
/* line 142, ../sass/_style-sytnik.scss */
div.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 146, ../sass/_style-sytnik.scss */
div.container div.carousel.slide {
  width: 100%;
}
/* line 148, ../sass/_style-sytnik.scss */
div.container div.carousel.slide div.carousel-inner {
  width: 100%;
}
/* line 150, ../sass/_style-sytnik.scss */
div.container div.carousel.slide div.carousel-inner div.item {
  width: 100%;
}
/* line 152, ../sass/_style-sytnik.scss */
div.container div.carousel.slide div.carousel-inner div.item img.img {
  width: 100%;
}

/* line 4, ../sass/main.scss */
.map,
footer {
  max-width: 1400px;
  margin: auto;
}

/* line 10, ../sass/main.scss */
footer {
  height: 358px;
  background-color: #343434;
  position: relative;
  color: #ababab;
  font-family: "GothamProLight";
  font-size: 14px;
}
/* line 17, ../sass/main.scss */
footer .footer-social-icons {
  width: 312px;
  height: 90px;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -156px;
}
/* line 24, ../sass/main.scss */
footer .footer-social-icons a {
  display: block;
  position: absolute;
  height: 90px;
  width: 90px;
  left: 111px;
}
/* line 31, ../sass/main.scss */
footer .footer-social-icons a:first-child {
  float: left;
  position: static;
  background-image: url(../img/fb.png);
}
/* line 36, ../sass/main.scss */
footer .footer-social-icons a:last-child {
  float: right;
  position: static;
  background-image: url(../img/google.png);
}
/* line 41, ../sass/main.scss */
footer .footer-social-icons ._2 {
  background-image: url(../img/tw.png);
}
/* line 45, ../sass/main.scss */
footer ul {
  display: block;
  margin: auto;
  height: 17px;
  max-width: 583px;
  padding: 204px 0 0 0;
}
/* line 51, ../sass/main.scss */
footer ul li {
  list-style: none;
  float: left;
  padding: 0 15px 0 15px;
  border-right: 1px #ababab solid;
}
/* line 56, ../sass/main.scss */
footer ul li a {
  color: #ababab;
}
/* line 59, ../sass/main.scss */
footer ul li a:hover {
  text-decoration: none;
}
/* line 63, ../sass/main.scss */
footer ul li:last-child {
  border-right: none;
}
/* line 67, ../sass/main.scss */
footer p {
  clear: both;
  text-align: center;
  padding-top: 5px;
}
/* line 72, ../sass/main.scss */
footer .footer-logo {
  height: 85px;
  width: 168px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -84px;
  background-image: url(../img/logofooter.png);
}

@media (max-width: 420px) {
  /* line 83, ../sass/main.scss */
  .map {
    height: 320px;
  }
}
