body {
    height: 2000px;
}

.modal-form {
    width: 300px;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    margin-top: -184px;
    margin-left: -160px;
    background: #fff;
}

form button {
    display: block !important;
    margin: auto !important;
}

.dark_monitor {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1;
}

.close {
    height: 22px;
    width: 22px;
    position: absolute;
    background-image: url(close.png);
    background-repeat: no-repeat;
    right: 10px;
    transition: 0.4s;
    cursor: pointer;
    z-index: 3;
}

.close:hover {
    transform: rotate(45deg);
}
