/*fonts preloading*/
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

/*fonts tuning*/

.p-like {
    font: 1em GothamProLight, sans-serif;
}

.h1-like {
    font: 1em GothamProBold, sans-serif;
}

.h2-like {
    font: 1em GothamProBold, sans-serif;
}

.h3-like {
    font: 1.9285em GothamProBold, sans-serif;
}

.h4-like {
    font: bold 1.2857em GothamProLight, sans-serif;
}


.graycolor {
    color: #7f868d;
}

//section - technologies - modificators
 /*марджины для заголовка секции*/
.buffer-top-bottom {
    margin: 32px 0;
}

/*паддинги для колонок */
.padd-top-bottom {
    padding: 8px 0;
}

/*центровка картинки под заголовком секции*/
.img-centered {
    margin: 0 auto;
}
