@import "technology1";
@import "header-style";
@import "custom";
$footer-color: #343434;
#map_canvas,
footer {
    width: 100%;
    margin: auto;
}
#map_canvas {
    height: 460px;
}

footer {
    height: 358px;
    background-color: $footer-color;
    position: relative;
    color: #ababab;
    font-family: "GothamProLight";
    font-size: 14px;
    .footer-social-icons {
        width: 312px;
        height: 90px;
        position: absolute;
        top: 70px;
        left: 50%;
        margin-left: -156px;
        a {
            display: block;
            position: absolute;
            height: 90px;
            width: 90px;
            left: 111px;
        }
        a.fb {
            float: left;
            position: static;
            background-image: url(../img/fb.png)
        }
        a.goog {
            float: right;
            position: static;
            background-image: url(../img/google.png);
        }
        a.tw {
            background-image: url(../img/tw.png)
        }
    }
    ul {
        display: block;
        margin: auto;
        height: 17px;
        max-width: 583px;
        padding: 204px 0 0 0;
        li {
            list-style: none;
            float: left;
            padding: 0 15px 0 15px;
            border-right: 1px #ababab solid;
            a {
                color: #ababab;
            }
            a:hover {
                text-decoration: none;
            }
        }
        li:last-child {
            border-right: none;
        }
    }
    p{
        clear: both;
        text-align: center;
        padding-top: 5px;
    }
    .footer-logo {
        height: 85px;
        width: 168px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -84px;
        background-image: url(../img/logofooter.png)
    }
}
.modal-form {
    width: 300px;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    margin-top: -184px;
    margin-left: -160px;
    background: rgba(255,255,255, 1);
}

form button {
    display: block !important;
    margin: auto !important;
}
button{
    font-family: "GothamProBold" !important;
    color: #df1f29 !important;
}

.dark_monitor {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1;
}

.mdl-textfield__input {
    border: none !important;
    font-family:"GothamProLight";
}
::-webkit-input-placeholder {font-family:"GothamProLight"!important;;}
::-moz-placeholder          {font-family:"GothamProLight"!important;;}/* Firefox 19+ */
:-moz-placeholder           {font-family:"GothamProLight"!important;;}/* Firefox 18- */
:-ms-input-placeholder      {font-family:"GothamProLight"!important;;}

@media (max-width: 420px){
    .map {
        height: 320px;
    }
}

